body {
    margin: 0;
    padding: 0;
}

.section {
    padding: 30px;
    font-size: 18px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #dfdfdf;
  }
  